absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
anytree==2.8.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
batchgenerators==0.23
beautifulsoup4==4.11.1
bert-score==0.3.11
blessed==1.20.0
boto3==1.18.63
botocore==1.21.63
bpemb==0.3.3
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.0.7
clang==5.0
click==8.0.4
cloudpickle==2.1.0
conllu==4.4.2
cryptography==37.0.4
cycler==0.10.0
dataclasses==0.8
datasets==1.15.0
decorator==4.4.2
Deprecated==1.2.13
dill==0.3.4
docopt==0.6.2
editdistance==0.6.0
et-xmlfile==1.1.0
filelock==3.4.1
flair==0.11.3
flatbuffers==1.12
frozenlist==1.2.0
fsspec==2022.1.0
ftfy==6.0.3
future==0.18.2
gast==0.4.0
gdown==4.4.0
gensim==4.2.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==1.1.1
grpcio==1.47.0
h5py==3.1.0
huggingface-hub==0.0.19
hyperopt==0.2.7
idna==3.3
idna-ssl==1.1.0
imageio==2.9.0
importlib-metadata==4.8.3
Janome==0.4.2
jieba==0.42.1
jmespath==0.10.0
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
konoha==4.6.5
langdetect==1.0.9
language-tool-python==2.7.1
lemminflect==0.2.2
linecache2==1.0.0
lru-dict==1.1.7
lxml==4.9.0
Markdown==3.3.7
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.13.0
mpld3==0.3
multidict==5.2.0
multiprocess==0.70.12.2
networkx==2.5.1
nltk==3.6.7
num2words==0.5.10
numpy==1.19.5
nvidia-ml-py==12.535.133
oauthlib==3.2.0
OpenHowNet==2.0
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
opt-einsum==3.3.0
overrides==3.1.0
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
pinyin==0.4.0
pptree==3.1
protobuf==3.19.4
psutil==5.9.8
py4j==0.10.9.5
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycld2==0.41
pycparser==2.21
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytorch-pretrained-bert==0.6.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
regex==2021.10.21
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.0
sacremoses==0.0.53
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
segtok==1.5.11
sentencepiece==0.1.95
six==1.15.0
sklearn==0.0
smart-open==6.0.0
soupsieve==2.3.2.post1
sqlitedict==2.0.0
tabulate==0.8.10
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-text==2.6.0
termcolor==1.1.0
terminaltables==3.1.10
textattack==0.3.5
threadpoolctl==3.0.0
tifffile==2020.9.3
tokenizers==0.10.3
torch==1.9.1
tqdm==4.62.3
traceback2==1.4.0
transformers==4.12.2
typing-extensions==3.7.4.3
unittest2==1.1.0
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.3
Wikipedia-API==0.5.4
word2number==1.1
wrapt==1.12.1
xlrd==1.2.0
xxhash==3.0.0
yarl==1.7.2
zipp==3.6.0
